.btn {
	--focus-ring-offset: 0px;

	padding: var(--button-padding-block) var(--button-padding-inline);
	border: unset;
	border-radius: var(--border-radius-round);
	outline: var(--border-thickness-2) solid transparent; /* For a11y in high contrast */

	background-color: var(--color-bg-button);
	color: var(--color-text-button);
	line-height: var(--leading-flat);

	transition:
		opacity var(--transition-base),
		background-color var(--transition-base),
		color var(--transition-base),
		outline var(--transition-base),
		outline-offset var(--transition-base);

	&:hover,
	&:focus-visible {
		outline-color: var(--color-border-2);
		outline-offset: var(--focus-ring-offset);
	}

	&:focus-visible {
		outline-color: var(--color-brand);
	}
}
