.button {
	padding: 0.5em 0.75em;
	border: var(--border-thickness-1) solid var(--color-underline);
	border-radius: var(--border-radius-2);
	color: var(--color-text-2);
	line-height: var(--leading-flat);
	text-decoration-line: none;

	transition:
		background-color var(--transition-base),
		color var(--transition-base),
		outline var(--transition-base),
		outline-offset var(--transition-base);

	&:hover {
		background-color: var(--color-bg-inverted-1);
		color: var(--color-text-inverted-2);
		outline-offset: 0;
		outline: var(--border-thickness-3) solid var(--color-border-2);
	}

	&:focus-visible {
		outline-offset: calc(3 * var(--focus-ring-offset));
	}
}

.inverted.button {
	background-color: var(--color-bg-inverted-2);
	color: var(--color-text-inverted-1);

	&:hover {
		background-color: var(--color-bg-inverted-3);
		color: var(--color-text-inverted-2);
	}
}
