.button {
	padding: 0.5em 0.75em;
	background-color: var(--color-bg-4);
	color: var(--color-text-1);
	border-radius: var(--border-radius);
	line-height: var(--leading-flat);
	text-decoration-line: none;

	transition:
		background-color var(--transition-base),
		color var(--transition-base),
		outline-offset 145ms var(--ease-2);

	&:hover {
		background-color: var(--color-bg-5);
		color: var(--color-text-2);
	}
}

.inverted.button {
	background-color: var(--color-bg-inverted-2);
	color: var(--color-text-inverted-1);

	&:hover {
		background-color: var(--color-bg-inverted-3);
		color: var(--color-text-inverted-2);
	}
}
