.fullbleed-grid {
	--_max-content-width: calc(
		var(--wrapper-max-width, 80rem) - (2 * var(--page-gutter))
	);
	display: grid;
	grid-template-columns:
		[fullbleed-start] minmax(var(--page-gutter), 1fr)
		[content-start]
		min(var(--_max-content-width), calc(100vw - (2 * var(--page-gutter))))
		[content-end]
		minmax(var(--page-gutter), 1fr) [fullbleed-end];
}
