.inverted {
	background: var(--color-bg-inverted-1);
	color: var(--color-text-inverted-1);
	-webkit-font-smoothing: antialiased;

	a {
		text-decoration-color: var(--color-underline-inverted);
	}

	a:hover {
		--color-underline-inverted: currentColor;
		color: var(--color-brand-inverted);
	}

	:focus-visible {
		outline-color: var(--color-brand-inverted);
	}
}
