.inverted {
	background: var(--color-bg-inverted-1);
	color: var(--color-text-inverted-1);
	-webkit-font-smoothing: antialiased;

	:focus-visible {
		outline-color: var(--color-brand-inverted);
	}

	@media (--forcedColors) {
		-webkit-font-smoothing: auto;

		@media (--OSdark) {
			-webkit-font-smoothing: antialiased;
		}
	}
}

.inverted {
	:where(
			h1,
			.heading-1,
			h2,
			.heading-2,
			h3,
			.heading-3,
			h4,
			.heading-4,
			h5,
			.heading-5
		) {
		color: var(--color-text-inverted-2);
	}

	a:hover {
		color: var(--color-brand-inverted);
	}

	strong {
		color: var(--color-text-inverted-2);
	}
}
