/* color styles */
.text-color-1 {
	color: var(--color-text-1);
}

.text-color-2 {
	color: var(--color-text-2);
}

.text-color-3 {
	color: var(--color-text-3);
}

.text-color-4 {
	color: var(--color-text-4);
}

.text-color-inverted-3 {
	color: var(--color-text-inverted-3);
}

.text-color-inverted-4 {
	color: var(--color-text-inverted-4);
}

/* size styles */
.small-text {
	@apply text-step-00 tracking-wide;
}

.tiny-text {
	@apply tracking-wider;
	font-size: var(--size-step-000-00);

	@media (--md-n-above) {
		@apply tracking-wide;
	}
}

/* other styles*/
.text-uppercase-medium {
	@apply uppercase font-medium;
}
