---
interface Props {
	currentPageLinkLabel: string;
	hasPosts: boolean;
	hasLinks: boolean;
}

const {currentPageLinkLabel, hasPosts, hasLinks} = Astro.props;
---

<nav class="small-text leading-flat wrapper" aria-label="Breadcrumbs">
	<a href="/tags/">Tag Archive</a>
	<span class="font-light">/</span>
	<a href="#main" aria-current="page">{currentPageLinkLabel}</a>
	{
		hasPosts && hasLinks && (
			<>
				<span class="font-light">/</span>
				<a href="#posts">Posts</a>
				<a href="#links">Links</a>
			</>
		)
	}
</nav>
