<div class="visually-hidden" aria-live="polite" id="announce"></div>
<clipboard-copy
	class="inline-block button text-step-00 tracking-wide font-medium"
	value="hello@arpit.codes"
>
	<span class="copy-label">Copy email</span>
	<span class="notice" hidden>Copied!</span>
</clipboard-copy>

<style>
	clipboard-copy:not(:defined) {
		opacity: 0.42;
		cursor: not-allowed;
	}
</style>

<script>
	import '@github/clipboard-copy-element';
	import '../scripts/clipboard-copy-handler';
</script>
