<script>
	import '@github/clipboard-copy-element';
	import '../scripts/clipboard-copy-handler';
</script>

<div class="visually-hidden" aria-live="polite" id="announce"></div>
<clipboard-copy class="inline-block button text-step-00" value="hello@arpit.codes">
	<span class="copy-label">Copy email</span>
	<span class="notice" hidden>Copied!</span>
</clipboard-copy>
