---
import ClipboardCopy from './ClipboardCopy.astro';
import CatGangVector from './CatGangVector.astro';
---

<div id="get-in-touch" class="wrapper">
	<div class="repel region">
		<div class="flow">
			<p class="text-step-000 leading-snug tracking-wide uppercase">Get in touch</p>
			<a
				class="block heading-1 text-step-4 text-color-2 leading-flat flow-space-2xs"
				href="mailto:hello@arpit.codes"
			>
				hello@arpit.codes
			</a>
			<ClipboardCopy />
		</div>
		<CatGangVector />
	</div>
</div>
