---
import type {HTMLAttributes} from 'astro/types';
interface Props extends HTMLAttributes<'a'> {
	href: string;
}
const {href} = Astro.props;
---

<a class="tiny-text leading-flat text-uppercase-medium" href={href}>
	<slot />
</a>
