---
import MastodonVector from './MastodonVector.astro';
import GithubVector from './GithubVector.astro';
---

<div class="repel wrapper region region-space-xs-s">
	<div class="socials cluster text-color-2">
		<a href="https://indieweb.social/@arpit">
			<MastodonVector />
		</a>
		<a href="https://github.com/arpit-agr">
			<GithubVector />
		</a>
	</div>
	<p>
		<small class="text-step-000 leading-snug tracking-wide">© 2024 Arpit Agrawal</small>
	</p>
</div>
