<div class="repel wrapper region region-space-xs-s">
	<!-- TODO: -->
	<p class="text-step-000 leading-snug tracking-wide">Add socials</p>
	<p>
		<small class="text-step-000 leading-snug tracking-wide">© 2024 Arpit Agrawal</small>
	</p>
</div>
