---
import MastodonVector from './MastodonVector.astro';
import GithubVector from './GithubVector.astro';
import RSSVector from './RSSVector.astro';
---

<div class="wrapper">
	<div class="repel region region-space-xs">
		<div class="socials cluster text-color-2">
			<a href="https://indieweb.social/@arpit">
				<MastodonVector />
			</a>
			<a href="https://github.com/arpit-agr">
				<GithubVector />
			</a>
			<a href="https://arpit.codes/rss.xml">
				<RSSVector />
			</a>
		</div>
		<p>
			<small class="text-step-000 leading-snug tracking-wider"
				>© 2024 Arpit Agrawal</small
			>
		</p>
	</div>
</div>
