---
import ClipboardCopy from './ClipboardCopy.astro';
import BirdsVector from './BirdsVector.astro';
---

<div id="get-in-touch" tabindex="-1">
	<div class="wrapper">
		<div class="repel region">
			<div class="flow">
				<p class="tiny-text leading-snug text-uppercase-medium">
					<span class="blinking-dot">●</span>
					Get in touch
				</p>
				<a
					class="block heading-1 text-color-2 flow-space-2xs"
					href="mailto:hello@arpit.codes"
				>
					hello@arpit.codes
				</a>
				<div class="flow-space-xs">
					<ClipboardCopy />
				</div>
			</div>
			<BirdsVector />
		</div>
	</div>
</div>
