---
import GodRays from '../components/GodRays.astro';
---

<div class="hero inverted relative region">
	<div class="hero-inner flow relative wrapper">
		<slot />
	</div>
	<GodRays />
</div>

<style>
	.hero {
		--_primary-nav-height: calc(
			(2 * var(--primary-nav-padding-block)) +
				(var(--primary-nav-leading) * var(--primary-nav-font-size))
		);
		--region-start-space: calc(var(--region-end-space) + var(--_primary-nav-height));
		--region-end-space: var(--space-xl-2xl);
	}
</style>
