---
import type {HTMLAttributes} from 'astro/types';

type Props = HTMLAttributes<'a'>;

const {href} = Astro.props;
const {pathname} = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a class="tracking-wide" href={href} aria-current={isActive ? 'page' : null}>
	<slot />
</a>
