---
interface Props {
	href: string;
}

const {href} = Astro.props;
const {pathname} = Astro.url;
const isCurrent = href === pathname || href === pathname.replace(/\/$/, '');
const isActive = href.length > 1 && pathname.indexOf(href) === 0;
---

<a
	class="tracking-wider no-underline uppercase font-medium"
	href={href}
	aria-current={isCurrent ? 'page' : null}
	data-state={isActive ? 'active' : null}
>
	<slot />
</a>
