---
import FormattedDate from '../components/FormattedDate.astro';

interface Post {
	slug: string;
	data: {
		title: string;
		pubDate: Date;
		draft: boolean;
	};
}

const {postsCollection} = Astro.props;
---

<div class="post-list-wrapper flow">
	<slot />
	<ul class="post-list flow flow-space-l" role="list">
		{
			postsCollection.map((post: Post) => (
				<li
					class="post-entry grid"
					{...(post.data.draft && {style: {color: 'var(--color-draft)'}})}
				>
					<a href={`/blog/${post.slug}`}>{post.data.title}</a>
					<FormattedDate date={post.data.pubDate} />
				</li>
			))
		}
	</ul>
</div>
