---
import {Icon} from 'astro-icon/components';

const currentUrl = Astro.url;
const mailSubjectUrl = currentUrl.toString().slice(8); /* removes https:// */
---

<p class="reply-methods cluster small-text leading-snug">
	Reply:
	<a href="https://bsky.app/profile/arpit.codes">
		<Icon name="simple-icons:bluesky" aria-hidden="true" />
		Bluesky
	</a>
	<a href="https://indieweb.social/@arpit">
		<Icon name="simple-icons:mastodon" aria-hidden="true" />
		Mastodon
	</a>
	<a href=`mailto:hello@arpit.codes?subject=Re: ${mailSubjectUrl}`>
		<Icon name="heroicons:envelope-solid" aria-hidden="true" />
		Mail
	</a>
</p>

<style>
	p {
		--gutter: var(--space-3xs) var(--space-2xs);
	}
</style>
