---
interface Props {
	postTags: string[];
}

const {postTags} = Astro.props;
---

<p class="post-tag-list cluster">
	Tagged:
	{
		postTags.map(tag => (
			<a href={`/tags/${tag}/`} rel="tag">
				{tag}
			</a>
		))
	}
</p>
