---
import MailVector from './MailVector.astro';
import MastodonVector from './MastodonVector.astro';

const currentUrl = Astro.url;
const mailSubjectUrl = currentUrl.toString().slice(8); /* removes https:// */
---

<p class="reply-methods cluster small-text leading-snug">
	Reply:
	<a href=`mailto:hello@arpit.codes?subject=Re: ${mailSubjectUrl}`>
		<MailVector />
		Mail
	</a>
	<a href="https://indieweb.social/@arpit">
		<MastodonVector />
		Mastodon
	</a>
</p>

<style>
	p {
		--gutter: var(--space-3xs) var(--space-2xs);
	}
</style>
