---
import FormattedDate from '../components/FormattedDate.astro';

interface Post {
	slug: string;
	data: {
		title: string;
		pubDate: Date;
		draft: boolean;
	};
}

const {postsCollection} = Astro.props;
---

<div class="post-list-wrapper flow">
	<slot />
	<ol class="post-list flow flow-space-l" reversed>
		{
			postsCollection.map((post: Post) => (
				<li>
					<div class="post-entry grid">
						<a
							class="text-pretty"
							href={`/blog/${post.slug}/`}
							{...(post.data.draft && {'data-draft': true})}
						>
							{post.data.title}
						</a>
						<div class="small-text">
							<FormattedDate date={post.data.pubDate} />
						</div>
					</div>
				</li>
			))
		}
	</ol>
</div>
