---
import projects from '../data/projects.json';
import ProjectMockup from './ProjectMockup.astro';
import ChevronRightVector from './ChevronRightVector.astro';
import ChevronLeftVector from './ChevronLeftVector.astro';
---

<div class="project-showcase-wrapper flow-space-s">
	<div class="project-showcase">
		<a href="#latest-posts" class="btn small-text">Skip listing</a>
		<ul class="project-list" role="list">
			{
				projects.map((project, index) => {
					return (
						<li class="project-item">
							<div class="project-item-header tiny-text leading-flat text-uppercase-medium">
								<p class="project-index" aria-hidden="true">
									0{index + 1}
								</p>
								<a class="project-link" href={project.url}>
									<span class="project-title">{project.title}</span>
									<span class="visually-hidden">project site</span>
								</a>
							</div>
							<ProjectMockup
								imagePath={`/src/images/projects/${project.image}`}
							/>
						</li>
					);
				})
			}
		</ul>
	</div>
</div>

<div class="project-showcase-controls-wrapper wrapper flow-space-zero">
	<div class="project-showcase-controls cluster">
		<button class="btn" data-direction="prev" aria-label="Previous">
			<ChevronLeftVector />
		</button>
		<button class="btn" data-direction="next" aria-label="Next">
			<ChevronRightVector />
		</button>
	</div>
</div>

<script>
	import '../scripts/showcase-controls';
</script>
