---
import projects from '../data/projects.json';
import ProjectMockup from './ProjectMockup.astro';
import ChevronRightVector from './ChevronRightVector.astro';
import ChevronLeftVector from './ChevronLeftVector.astro';
---

<div class="project-showcase-wrapper flow-space-s">
	<div class="project-showcase">
		<ul class="project-list" role="list">
			{
				projects.map(project => {
					return (
						<li class="project-item">
							<a
								class="project-link leading-snug font-medium"
								href={project.url}
							>
								{project.title}
								<span class="visually-hidden">project site</span>
							</a>
							<ProjectMockup
								imagePath={`/src/images/projects/${project.image}`}
							/>
						</li>
					);
				})
			}
		</ul>
	</div>
</div>

<div class="project-showcase-controls-wrapper wrapper flow-space-zero">
	<div class="project-showcase-controls cluster">
		<button class="button" data-direction="prev" aria-label="Previous">
			<ChevronLeftVector />
		</button>
		<button class="button" data-direction="next" aria-label="Next">
			<ChevronRightVector />
		</button>
	</div>
</div>

<script>
	import '../scripts/showcase-controls';
</script>
