---
import projects from '../data/projects.json';
import ProjectMockup from './ProjectMockup.astro';
import ChevronRightVector from './ChevronRightVector.astro';
import ChevronLeftVector from './ChevronLeftVector.astro';

const projectsLength = projects.length;
---

<div class="projects-scroll-container">
	<ul class="project-list" role="list">
		{
			projects.map((project, index) => {
				return (
					<li class="project-item">
						<div class="project-item-header tiny-text leading-flat text-uppercase-medium">
							<a class="project-link" href={project.url}>
								<span class="project-title">{project.title}</span>
								<span class="visually-hidden">project site</span>
							</a>
							<span class="project-index" aria-hidden="true">
								{index + 1} ⁄ {projectsLength}
							</span>
						</div>
						<ProjectMockup
							imagePath={`/src/images/projects/${project.image}`}
						/>
					</li>
				);
			})
		}
	</ul>
</div>
<div class="project-showcase-controls cluster wrapper">
	<button
		class="btn"
		data-direction="prev"
		data-btn="secondary"
		aria-label="Previous"
	>
		<ChevronLeftVector />
	</button>
	<button
		class="btn"
		data-direction="next"
		data-btn="secondary"
		aria-label="Next"
	>
		<ChevronRightVector />
	</button>
</div>

<script>
	import '../scripts/project-showcase-controls.js';
</script>
