---
import Socials from './Socials.astro';
import FooterLink from './FooterLink.astro';
---

<footer class="site-footer">
	<div class="wrapper">
		<div class="repel">
			<Socials />
			<FooterLink href="#top">↑ Back to Top</FooterLink>
		</div>
	</div>
</footer>
