---
import pageData from '../data/pages.json';
const primaryNavItems = pageData.slice(0, 4);
import NavLink from './NavLink.astro';
---

<header class="site-header wrapper">
	<a href="#main" class="inverted tracking-wide uppercase leading-flat no-underline">
		Skip to main
	</a>
	<nav class="site-nav" aria-label="Primary">
		<ul class="cluster" role="list">
			{
				primaryNavItems.map(item => {
					return (
						<li>
							<NavLink href={item.linkURL}>{item.linkLabel}</NavLink>
						</li>
					);
				})
			}
		</ul>
	</nav>
</header>
