---
import pageData from '../data/pages.json';
const primaryNavItems = pageData.slice(0, 4);
import NavLink from './NavLink.astro';
---

<header class="site-header inverted">
	<nav class="site-nav wrapper" aria-label="Primary">
		<ul class="cluster" role="list">
			{
				primaryNavItems.map(item => {
					return (
						<li>
							<NavLink href={item.linkURL} label={item.linkLabel} />
						</li>
					);
				})
			}
		</ul>
	</nav>
</header>
