---
const navItems = [
	{
		linkLabel: 'Home',
		linkURL: '/'
	},
	{
		linkLabel: 'Projects',
		linkURL: '/#projects'
	},
	{
		linkLabel: 'Blog',
		linkURL: 'https://arpit.blog/'
	},
	{
		title: 'Contact',
		linkLabel: 'Contact',
		linkURL: '#get-in-touch'
	}
];
import NavLink from './NavLink.astro';
---

<header class="site-header inverted">
	<nav class="site-nav wrapper" aria-label="Primary">
		<ul class="cluster" role="list">
			{
				navItems.map(item => {
					return (
						<li>
							<NavLink href={item.linkURL} label={item.linkLabel} />
						</li>
					);
				})
			}
		</ul>
	</nav>
</header>
