<a class="inverted text-color-inverted-4" href="#main">Skip to main</a>

<style>
	[href='#main'] {
		position: absolute;
		inset-inline-start: 0;
		/* used IKEA's skip listing styles becasue visually hidden styles
	 were not working on Safari for some reason */
		block-size: 1px;
		inline-size: 1px;
		margin: -1px;
		padding: 0;
		border: 0;
		clip: rect(1px, 1px, 1px, 1px);
		white-space: nowrap;
		overflow: hidden;

		font-size: var(--primary-nav-font-size);
		line-height: var(--primary-nav-leading);

		opacity: 0;
		transform: translateY(-100%);
		transition:
			opacity var(--transition-base),
			inset-block-start var(--transition-base),
			transform var(--transition-base);
		z-index: 1000;

		&:focus-visible {
			block-size: unset;
			inline-size: 100vw;
			margin: unset;
			padding: var(--primary-nav-padding-block) var(--dynamic-gutter);
			border: unset;
			clip: unset;
			white-space: normal;
			overflow: auto;

			background: transparent;
			backdrop-filter: blur(var(--space-s));

			opacity: 1;
			inset-block-start: 0;
			transform: translateY(0);
			outline: none;
		}

		&:before {
			content: '';
			position: absolute;
			inset-block: calc(0.75 * var(--primary-nav-padding-block));
			inset-inline-start: calc(
				var(--dynamic-gutter) - calc(0.5 * var(--primary-nav-padding-inline))
			);
			inset-inline-end: calc(
				100vw - var(--dynamic-gutter) - 9ch
			); /* magic number 9ch */
			border-radius: var(--border-radius-1);
		}

		&:focus-visible:before {
			outline: var(--focus-ring);
			outline-color: var(--color-brand-inverted);
			outline-offset: var(--focus-ring-offset);
		}
	}
</style>
