---
import FooterLink from './FooterLink.astro';
import MastodonVector from './MastodonVector.astro';
import GithubVector from './GithubVector.astro';
import RSSVector from './RSSVector.astro';
---

<div class="socials cluster">
	<FooterLink href="https://indieweb.social/@arpit">
		<MastodonVector />
		<span>Mastodon</span>
	</FooterLink>
	<FooterLink href="https://github.com/arpit-agr">
		<GithubVector />
		<span>Github</span>
	</FooterLink>
	<FooterLink href="https://arpit.codes/rss.xml">
		<RSSVector />
		<span>RSS Feed</span>
	</FooterLink>
</div>
