---
import FooterLink from './FooterLink.astro';
import {Icon} from 'astro-icon/components';
---

<div class="socials cluster">
	<FooterLink href="https://bsky.app/profile/arpit.codes">
		<Icon name="simple-icons:bluesky" aria-hidden="true" />
		<span>Bluesky</span>
	</FooterLink>
	<FooterLink href="https://indieweb.social/@arpit">
		<Icon name="simple-icons:mastodon" aria-hidden="true" />
		<span>Mastodon</span>
	</FooterLink>
	<FooterLink href="https://github.com/arpit-agr">
		<Icon name="simple-icons:github" aria-hidden="true" />
		<span>Github</span>
	</FooterLink>
</div>
