---
interface Props {
	tags: string[];
}

const {tags} = Astro.props;
---

<p class="tag-list small-text leading-snug text-balance">
	Tagged:
	{
		tags.map(tag => (
			<a href={`/tags/${tag}/`} rel="tag">
				{tag}
			</a>
		))
	}
</p>

<style>
	.tag-list a {
		display: inline-flex;
		padding: var(--space-4xs) var(--space-3xs);
	}
</style>
