---
interface Props {
	tags: string[];
}

const {tags} = Astro.props;
---

<p class="tag-list cluster small-text leading-snug">
	Tagged:
	{
		tags.map(tag => (
			<a href={`/tags/${tag}/`} rel="tag">
				{tag}
			</a>
		))
	}
</p>

<style>
	.tag-list {
		--gutter: var(--space-3xs) var(--space-2xs);
	}
</style>
