/*
BOX
More info: https://every-layout.dev/layouts/box/#the-generator
*/

.box {
	background: var(--color-bg-4);
	color: var(--color-text-1);
	padding: var(--space-s-m);
}

.box * {
	color: inherit;
}
