/* 
ICON
From Every Layout: https://every-layout.dev/layouts/icon/
*/

.icon {
	inline-size: 0.75em;
	block-size: 0.75em;

	@supports (inline-size: 1cap) {
		inline-size: 1cap;
		block-size: 1cap;
	}
}

.with-icon {
	display: inline-flex;
	align-items: baseline;
}

.with-icon .icon {
	margin-inline-end: 1rem;
}
