/*
STACK
More info: https://every-layout.dev/layouts/stack/
A layout that lets you stack items with consitent
spacing

CUSTOM PROPERTIES AND CONFIGURATION
--gutter (var(--space-s-m)): This defines the space
between each item.

--stack-horizontal-alignment (flex-start) How items should align
horizontally. Can be any acceptable flexbox aligmnent value.

--stack-vertical-alignment How items should align vertically.
Can be any acceptable flexbox alignment value.
*/

.stack {
	display: flex;
	flex-direction: column;
	gap: var(--gutter, var(--space-s-m));
	justify-content: var(--stack-vertical-alignment, flex-start);
	align-items: var(--stack-horizontal-alignment, flex-start);
}
