/*
WRAPPER COMPOSITION 
A common wrapper/container
*/
.wrapper {
	margin-inline: auto;
	max-inline-size: min(
		var(--wrapper-max-width, 80rem),
		calc(100vw - (2 * var(--page-gutter)))
	);
	/* padding-inline-start: var(--page-gutter);
	padding-inline-end: var(--page-gutter); */
}
