:where(.content-page > article) {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		inset-block-start: 0;
		inset-inline-start: calc(var(--page-gutter) + 0.5 * var(--counter-size));
		block-size: 100%;
		border-inline-start: var(--border-thickness-1) solid
			var(--color-counter-connector);
		translate: -50% 0;
		z-index: -1;
	}
}

.content-entry {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: var(--counter-gap);
	align-items: start;
	counter-increment: entry;
	grid-template-rows: auto 1fr;

	> * {
		--flow-space: var(--space-xs);
	}

	blockquote {
		--flow-space: 1ex;
	}

	&:before {
		content: counter(entry, decimal-leading-zero);
		grid-row: 1 / -1;

		display: grid;
		place-content: center;
		border-radius: 100vmin;
		inline-size: var(--counter-size);
		aspect-ratio: 1;

		background: var(--color-bg-1);
		color: var(--color-text-4);
		font-size: var(--size-step-3);
		font-weight: var(--font-regular);
		line-height: 1;
		translate: 0 -10%;
		@apply tracking-wide;
	}

	> :not(:first-child) {
		grid-column: 2/-1;
	}

	a {
		max-inline-size: fit-content;
	}
}
