:where(.content-page > article) {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		inset-block-start: 0;
		inset-inline-start: calc(var(--page-gutter) + 0.5 * var(--counter-size));
		block-size: 100%;
		border-inline-start: var(--border-thickness-1) solid
			var(--color-counter-connector);
		translate: -50% 0;
		z-index: -1;
	}
}

.content-entry {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: var(--counter-gap);
	align-items: start;

	> * {
		--flow-space: var(--space-xs);
	}

	blockquote {
		--flow-space: 1ex;
	}

	&:before {
		content: '●';
		content: '●' / '';
		display: grid;
		place-items: center;
		inline-size: var(--counter-size);
		block-size: var(--counter-size);
		color: var(--color-text-2);
		translate: 0 7.5%;
	}

	> :not(:first-child) {
		grid-column: 2/-1;
	}

	a {
		max-inline-size: fit-content;
	}
}
