.design-principles-list {
	--_entry-row-gap: var(--space-xs-2xs);
	--_entry-column-gap: var(--space-m-l);

	--gutter: 0 var(--_entry-column-gap);

	> * + * {
		border-block-start: var(--border-thickness-1) solid var(--color-border-2);
	}
}

.principle-entry {
	--gutter: var(--_entry-row-gap) var(--_entry-column-gap);
	display: grid;
	grid-template-columns: subgrid;
	grid-template-rows: auto 1fr;
	grid-column: 1/-1;
	padding-block: var(--space-m-l);

	> * {
		grid-column: 1/-1;
	}

	@media (--md-n-above) {
		> *:not(.principle-content) {
			grid-column: 1/2;
		}

		.principle-content {
			grid-column: 2/-1;
			grid-row: 1/3;
		}
	}
}
