.design-principles-list {
	--_term-padding-block: var(--underline-offset);
	--gutter: calc(var(--space-l) - var(--_term-padding-block)) var(--space-l);
	grid-template-columns: 1fr;

	@media (--md-n-above) {
		grid-template-columns: minmax(29ch, 1fr) 2fr;

		.principle-description {
			grid-column: 1;
		}

		.principle-content {
			grid-column: 2;
		}
	}
}

.principle-entry {
	--gutter: var(--space-xs) var(--space-l);
	display: grid;
	grid-template-columns: subgrid;
	grid-column: 1/-1;

	dt {
		grid-column: 1/-1;
		border-block-end: var(--border-thickness-1) solid var(--color-border-1);

		a {
			padding-block: var(--_term-padding-block);
		}

		&:after,
		a:after {
			--text-decoration-size: var(--border-thickness-1);
			content: '';
			position: absolute;
			inset-inline-start: 0;
			inset-block-end: calc(
				-1 / 2 * (var(--text-decoration-size) + var(--border-thickness-1))
			);
			block-size: var(--text-decoration-size);
		}

		&:after {
			inline-size: 10%;
			transition:
				background-color var(--transition-base),
				inline-size var(--transition-base);
		}

		a:after {
			inline-size: 100%;
			background-color: currentColor;
		}
	}

	dt:has(a:hover):after {
		inline-size: 100%;
		background-color: var(--color-brand);
	}
}
