.hero + *:not(.post-featured-img) {
	border-block-start: var(--site-header-border-thickness) solid transparent;

	@media (--OSdark) {
		border-color: var(--color-border-1);

		@media (--md-n-above) {
			border-block-start: unset;
			border-width: var(--site-header-border-thickness) 0 0 0;
			border-style: solid;
			border-image: linear-gradient(
					to right,
					var(--color-border-1),
					transparent
				)
				30;
		}

		@media (--forcedColors) {
			border: unset;
			border-block-start: var(--site-header-border-thickness) solid transparent;
		}
	}
}
