.homepage-heading {
	--gutter: var(--space-5xs);
	font-size-adjust: cap-height from-font;

	.translations {
		--gutter: var(--space-3xs);
		order: -1;
	}
}

#latest-posts .list-header {
	--cluster-horizontal-alignment: space-between;
}

.hero-email {
	position: relative;
	display: inline-block;
	text-decoration: none;
	line-height: var(--leading-tight);
}

.circle {
	max-inline-size: unset;

	position: absolute;
	inset-inline-start: 50%;
	inset-block-start: 50%;
	translate: -49% -61%;
	block-size: 175%;
	inline-size: calc(100% + 3ch);
	fill: none;
	stroke-linecap: round;
	stroke-dasharray: var(--offset, 69px) 278px;
	stroke-dashoffset: 361px;

	.hero-email:hover & {
		--offset: 180px;
	}

	@media (--mouse) {
		@media (--motionOK) {
			transition: stroke-dasharray 500ms ease;
			pointer-events: none;
		}
	}

	path {
		stroke: var(--color-underline);

		.hero-email:focus-visible & {
			--color-underline: transparent;
		}
	}
}
