.homepage-heading {
	--gutter: var(--space-3xs);
	font-size-adjust: cap-height from-font;

	.translations {
		order: -1;
	}
}

/* temporary hack for Safari */
@supports not (text-wrap: balance) {
	.intro {
		--measure: 42rem;
	}
}

.homepage-post-list-header {
	--repel-vertical-alignment: baseline;
}

.hero-email {
	position: relative;
	display: inline-block;
	text-decoration: none;
	line-height: var(--leading-tight);
}

.circle {
	max-inline-size: unset;

	position: absolute;
	inset-inline-start: 50%;
	inset-block-start: 50%;
	translate: -49% -61%;
	block-size: 175%;
	inline-size: calc(100% + 3ch);
	fill: none;
	stroke-linecap: round;
	stroke-dasharray: var(--offset, 69px) 278px;
	stroke-dashoffset: 361px;

	.hero-email:hover & {
		--offset: 180px;
	}

	@media (--mouse) {
		@media (--motionOK) {
			transition: stroke-dasharray var(--transition-base);
			pointer-events: none;
		}
	}

	path {
		stroke: var(--color-underline);

		.hero-email:focus-visible & {
			--color-underline: transparent;
		}
	}
}
