.homepage-heading {
	--gutter: var(--space-3xs);
	font-size-adjust: cap-height from-font;

	.translations {
		order: -1;
	}
}

/* temporary hack for Safari */
@supports not (text-wrap: balance) {
	.intro {
		--measure: 42rem;
	}
}

#projects + article {
	border-block-start: var(--border-thickness-1) solid var(--color-border-1);
}

.homepage-post-list-header {
	--repel-vertical-alignment: baseline;
}
