.links-page > article::before {
	display: none;
}

.month-year-group {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--space-l) var(--space-xs);
}

.month-year-heading {
	position: relative;
	align-self: start;

	display: grid;
	grid-template-columns: auto 1fr;
	gap: var(--space-xs);
	align-items: center;
	background: var(--color-bg-1);

	&:after {
		content: '';
		block-size: var(--border-thickness-1);
		inline-size: 100%;
		background: var(--color-border-1);
	}
}

.month-year-group ul {
	position: relative;

	&:has(li + li):before {
		position: absolute;
		content: '';
		block-size: 100%;
		inline-size: var(--border-thickness-1);
		background: var(--color-border-1);
		inset-inline-start: calc(0.5 * var(--counter-size));
	}
}

@media (--lg-n-above) {
	.month-year-group {
		grid-template-columns: clamp(33%, 46%, 42ch) 1fr;
	}

	.month-year-heading {
		position: sticky;
		inset-block-start: var(--space-s);
	}
}
