.post-tag-list summary {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 0.5ch;
	align-items: first baseline;

	&::-webkit-details-marker,
	&::marker {
		content: '';
		display: none;
	}

	&::before {
		content: '▶';
		content: '▶' / '';
	}
}

.post-tag-list[open] summary {
	&::before {
		content: '▼';
		content: '▼' / '';
	}
}

.post-tag-list ul {
	--gutter: 1ex 1ch;
}
