.post-tag-list summary {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 0.5ch;
	align-items: first baseline;

	&::-webkit-details-marker,
	&::marker {
		content: '';
		display: none;
	}

	&::before {
		content: '▶';
		content: '▶' / '';
	}
}

.post-tag-list[open] summary {
	&::before {
		content: '▼';
		content: '▼' / '';
	}
}

.post-tag-list {
	position: relative;

	&:before {
		content: '';
		position: absolute;
		inset-inline-start: calc(1 / 2 * var(--space-xs));
		inset-block-start: 0;
		inline-size: var(--border-thickness-1);
		block-size: 100%;
		background-image: linear-gradient(
			to bottom,
			transparent 1lh,
			var(--color-border-2) 1lh
		);
		z-index: -1;
		translate: -50% 0;
	}

	ul {
		--gutter: 1ex 0;
		margin-inline-start: var(--space-xs);
	}

	a {
		padding: var(--space-3xs);

		&:focus-visible {
			outline-offset: calc(-1 / 2 * var(--space-3xs));
		}
	}
}
