.post {
	h1 {
		font-size: var(--size-step-3-4);
		line-height: var(--leading-tight);

		@media (--md-n-above) {
			line-height: var(--leading-flat);
		}
	}

	h2,
	h3 {
		line-height: var(--leading-snug);

		a[href^='#'] {
			margin-inline-start: 0.5ch;
			font-family: var(--font-monospace);
		}

		&:target {
			scroll-margin-block: 1lh;
		}
	}

	h2 {
		font-size: var(--size-step-1);
	}

	h3 {
		font-size: var(--size-step-0);
	}
}

.summary,
.pubdate {
	--flow-space: var(--space-xs);
}

.summary {
	text-wrap: pretty;

	@media (--md-n-above) {
		text-wrap: balance;
	}
}

.post .hero-inner {
	display: grid;
	grid-template-columns:
		minmax(0, var(--measure))
		minmax(0, 1fr) minmax(0, 1fr);
}

.post .hero-inner > * {
	grid-column: 1/-1;
}

@media (--xl-n-above) {
	.post .hero-inner:has(.post-featured-img) {
		grid-template-rows: auto auto 1fr;

		> *:not(.post-featured-img) {
			grid-column: 1/2;
		}

		.pubdate {
			align-self: end;
		}

		.post-featured-img {
			--flow-space: 0;
			grid-column: 2/-1;
			grid-row: 1/-1;
		}
	}
}

.post-featured-img,
.post-body > p:has(img) {
	min-inline-size: calc(100% + (2 * var(--page-gutter)));
	margin-inline-start: calc(-1 * var(--page-gutter));

	@media (--sm-n-above) {
		min-inline-size: unset;
		margin-inline-start: unset;
	}
}

.post-featured-img img,
.post-body img {
	/* outline: var(--border-thickness-1) solid var(--color-border-1); */
	border-radius: var(--border-radius-conditional-1);
}

.post-featured-img {
	--flow-space: var(--space-l);

	figcaption {
		--flow-space: var(--space-xs);
		margin-inline: var(--page-gutter);
		text-wrap: balance;

		@media (--sm-n-above) {
			margin-inline: unset;
		}
	}
}

.post-body {
	column-width: 33ch;
	column-gap: var(--space-xl);
	/* column-rule: var(--border-thickness-1) dashed var(--color-border-1); */
}

/* TODO: Remove temporary workaround
This workaround addresses a Safari bug that rendered the first letter in a serif font
The following @supports rule targets Chrome only
https://github.com/argyleink/open-props/blob/main/src/props.supports.css */
@supports (-webkit-app-region: inherit) and (not (container-type: none)) {
	.post-body > p:first-child::first-letter {
		-webkit-initial-letter: 2;
		initial-letter: 2;
		margin-inline-end: 0.5em;
		font-size-adjust: none;
		font-weight: var(--font-medium);
		/* color: var(--color-text-2); */
	}
}

.post-body img {
	margin-inline: auto;

	@media (--sm-n-above) {
		margin-inline: unset;
	}
}

.post-footer {
	--region-space: var(--space-s);
	--gutter: var(--space-s) var(--space-xl);

	grid-template-columns: 1fr;
	border-block-start: var(--border-thickness-1) solid var(--color-border-1);

	@media (--xl-n-above) {
		grid-template-columns: 1fr auto;
		align-items: last baseline;
	}

	.tag-list {
		max-inline-size: unset;
	}
}

.reply-methods {
	svg {
		block-size: 1em;
		inline-size: auto;
	}

	a {
		display: inline-flex;
		gap: var(--space-3xs);
		align-items: center;
	}
}
