.project-showcase {
	display: grid;
	grid-template-columns:
		[fullbleed-start] minmax(var(--page-gutter), 1fr)
		[content-start]
		min(
			var(--wrapper-max-width, calc(80rem - (2 * var(--page-gutter)))),
			calc(100vw - (2 * var(--page-gutter)))
		)
		[content-end]
		minmax(var(--page-gutter), 1fr) [fullbleed-end];
}

.project-showcase > * {
	grid-column: fullbleed;
	display: grid;
	grid-template-columns: inherit;
	overflow-x: scroll;
	overscroll-behavior-x: contain;
	scroll-snap-type: x mandatory;
	scrollbar-width: none;
}

.project-list {
	grid-column: content;
	display: flex;
	align-items: center;
	gap: var(--page-gutter);
}

.project-item {
	max-inline-size: unset;
	scroll-snap-align: center;

	&:last-child {
		padding-inline-end: calc(2 * var(--page-gutter));
	}

	img {
		min-inline-size: 74vmin;
		object-fit: contain;
		transition: scale var(--transition-movement);
	}

	a:hover img {
		scale: 0.987654321;
	}
}
