.project-showcase-wrapper {
	display: grid;
	grid-template-columns:
		[fullbleed-start] minmax(var(--page-gutter), 1fr)
		[content-start]
		min(var(--wrapper-max-width, 75rem), calc(100vw - (2 * var(--page-gutter))))
		[content-end]
		minmax(var(--page-gutter), 1fr) [fullbleed-end];
}

.project-showcase {
	grid-column: fullbleed;
	display: grid;
	grid-template-columns: inherit;
	overflow-x: scroll;
	overscroll-behavior-x: contain;
	scroll-snap-type: x mandatory;
	scrollbar-width: none;
}

.project-list {
	grid-column: content;
	display: flex;
	align-items: center;
	gap: var(--page-gutter);
	padding-block: var(--space-s) var(--space-m);
}

.project-item {
	position: relative;
	display: grid;
	gap: var(--space-xs);
	max-inline-size: unset;
	scroll-snap-align: center;

	&:last-child {
		padding-inline-end: calc(2 * var(--page-gutter));
	}

	picture {
		display: block;
		transition: scale var(--transition-movement);
	}

	img {
		min-inline-size: 78vmin;
		object-fit: contain;
	}
}

.project-item-header {
	display: grid;
	grid-template-columns: auto 1fr auto;
	gap: 1em;
	padding-inline-start: 3%;
	padding-inline-end: 8.25%;

	&:before {
		content: '';
		order: 2;
		flex-grow: 1;
		block-size: var(--border-thickness-1);
		background: currentColor;
		align-self: center;
	}
}

.project-link {
	order: 3;
	text-decoration-line: none;

	&:after {
		content: '';
		position: absolute;
		inset: 0;
		z-index: 1;
	}

	&:focus-visible {
		outline: none;
	}
}

.project-index {
	order: 1;
}

.project-item:has(:hover) {
	color: var(--color-brand);

	picture {
		scale: 1.0125;
	}
}

.project-item:focus-within {
	outline: var(--border-thickness-2) solid var(--color-text-2);
	outline-offset: var(--focus-ring-offset);
	border-radius: var(--border-radius-1);
}

.project-showcase-controls {
	--gutter: var(--space-xs);
	--cluster-horizontal-alignment: end;

	button {
		padding: 0.25em 0.375em;
		display: inline-grid;
		place-items: center;
		aspect-ratio: 1;

		opacity: 0.42;
		cursor: not-allowed;
	}

	svg {
		block-size: 1.25rlh;
		inline-size: auto;
	}

	path {
		stroke: currentColor;
		stroke-width: 2.5px;
	}
}

:where(.has-js) .project-showcase-controls button:not(:disabled) {
	opacity: 1;
	cursor: pointer;
}
