.questionnaire-wrapper {
	--_region-padding: var(--region-space, var(--space-xl-2xl));
	--flow-space: var(--space-l);
	--gutter: var(--space-l);
	grid-template-columns: 1fr;

	@media (--lg-n-above) {
		grid-template-columns: auto 1fr;

		.acknowledgment {
			place-self: end;
			text-align: end;
		}
	}
}

.question-list {
	--flow-space: var(--space-s);
	position: relative;
}

.question-list:before {
	content: '';
	position: absolute;
	inset-block-start: 0;
	inset-inline-start: calc(0.5 * var(--counter-size));
	block-size: calc(100% + var(--_region-padding));
	border-inline-start: var(--border-thickness-1) solid
		var(--color-counter-connector);
	translate: -50% calc(-1 * var(--_region-padding));
	z-index: -1;

	@media (--lg-n-above) {
		block-size: calc(100% + (2 * var(--_region-padding)));
	}
}

.question-list li {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: var(--space-xs);
	align-items: start;
	text-wrap: pretty;
}

.question-list li:before {
	content: '●';
	content: '●' / '';
	display: grid;
	place-items: center;
	inline-size: var(--counter-size);
	block-size: var(--counter-size);
	color: var(--color-counter);
}

/* temporary hack for Safari */
@supports not (text-wrap: balance) {
	.acknowledgment {
		--measure: 40ch;
	}
}
