.questionnaire-wrapper {
	--gutter: var(--space-l);
	grid-template-columns: 1fr;

	@media (--lg-n-above) {
		grid-template-columns: auto 1fr;

		.acknowledgment {
			place-self: end;
			text-align: end;
		}
	}
}

.acknowledgment {
	background: var(--color-bg-1);
}
