#secondary-nav {
	order: 2;

	dl {
		--gutter: var(--space-m-l);
	}

	a:before,
	a:after {
		content: '';
		position: absolute;
		inset: calc(-1 * var(--space-xs));
		background-color: transparent;
		border-radius: var(--border-radius-1);
	}

	a:before {
		z-index: -1;
	}

	a:hover:before {
		background-color: var(--color-bg-2);
	}
}
