[href='#main'] {
	position: absolute;
	inset-block-start: 0;
	inset-inline-start: var(--page-gutter);

	padding: var(--button-padding-block) var(--button-padding-inline);
	border-radius: var(--border-radius-1);
	font-size: var(--primary-nav-font-size);
	opacity: 0;
	transform: translateY(calc(-100% - var(--border-thickness-2)));
	z-index: 1000;
	transition:
		transform var(--transition-base),
		opacity var(--transition-base);

	&:focus-visible {
		color: var(--color-text-inverted-2);
		opacity: 1;
		inset-block-start: calc(
			var(--primary-nav-padding-block) - var(--button-padding-block)
		);
		outline-color: var(--color-text-inverted-2);
		transform: translateY(0);
	}
}

.site-header,
.site-footer {
	background-image: linear-gradient(
		to right,
		var(--color-bg-2),
		50%,
		var(--color-bg-site-header)
	);
}

.site-header {
	order: 4;
	position: sticky;
	inset-block-end: 0;

	border-width: var(--site-header-border-thickness) 0 0 0;
	border-style: solid;
	border-image: linear-gradient(
			to right,
			var(--color-border-site-header),
			var(--color-border-1)
		)
		30;
	box-shadow: var(--site-header-shadow);
	overflow-x: auto;
	overflow-y: hidden;
	z-index: 999;
	transition: background var(--transition-base);
}

.site-nav ul {
	--gutter: var(--space-5xs);
	flex-wrap: nowrap;
	margin-inline-start: calc(-1 * var(--primary-nav-padding-inline));

	a {
		position: relative;
		display: inline-block;
		padding: var(--primary-nav-padding-block) var(--primary-nav-padding-inline);
		font-size: var(--primary-nav-font-size);
		line-height: var(--primary-nav-leading);

		&:before {
			content: '';
			position: absolute;
			inset: calc(0.75 * var(--primary-nav-padding-block))
				calc(0.5 * var(--primary-nav-padding-inline));
			border-radius: var(--border-radius-1);
			transition: outline-offset var(--transition-base);
		}

		&:after {
			--text-decoration-size: var(--border-thickness-1);
			content: '';
			position: absolute;
			inset-inline-start: 50%;
			inset-block-start: 0;
			inline-size: var(--text-decoration-size);
			block-size: calc(0.5 * var(--primary-nav-padding-block));
			translate: -50% 0;
		}

		&:focus-visible {
			outline: none;
		}

		&:focus-visible:before {
			outline: var(--border-thickness-2) solid var(--color-text-2);
			outline-offset: var(--focus-ring-offset);
		}
	}
}

.site-nav :is([aria-current='page'], [data-state='active']):after {
	background-color: var(--color-border-site-header);
}

@media (--forcedColors) {
	.site-nav ul a:after,
	.site-nav ul a:hover:after {
		background-color: transparent;
	}

	.site-nav ul :is([aria-current='page'], [data-state='active']):after {
		--text-decoration-size: var(--border-thickness-2);
	}
}
