.site-footer > * {
	border-block-start: var(--border-thickness-1) solid var(--color-border-1);
}

#more a:after {
	content: '';
	position: absolute;
	inset: 0;
}

#get-in-touch {
	--gutter: var(--space-xl-2xl) var(--space-s-l);
	align-items: center;

	a {
		max-inline-size: fit-content;
		word-break: break-word;
		text-decoration-thickness: var(--border-thickness-2);
	}
}

.cat-gang {
	max-inline-size: max(20rem, 40%);
	inline-size: 100%;

	path {
		fill: var(--color-text-1);
	}
}

.socials {
	--gutter: var(--space-xs);

	svg {
		block-size: 1em;
	}

	path {
		fill: currentColor;
	}
}
