.site-header {
	position: absolute;
	inset-block-start: 0;
	inset-inline: 0;
	overflow-x: auto;
	transition: background var(--transition-base);
	z-index: 1;
}

.site-header.site-header {
	background: transparent;
}

.site-nav {
	border-block-end: var(--site-header-border-thickness) solid
		var(--color-border-hero);
}

.site-nav ul {
	--gutter: var(--space-5xs);
	flex-wrap: nowrap;
	margin-inline-start: calc(-1 * var(--primary-nav-padding-inline));

	a {
		position: relative;
		display: inline-block;
		padding: var(--primary-nav-padding-block) var(--primary-nav-padding-inline);
		font-size: var(--primary-nav-font-size);
		line-height: var(--primary-nav-leading);
		text-decoration-line: none;

		&:before {
			content: '';
			position: absolute;
			inset: calc(0.75 * var(--primary-nav-padding-block))
				calc(0.5 * var(--primary-nav-padding-inline));
			border-radius: var(--border-radius-1);
			transition: outline-offset var(--transition-base);
		}

		&:after {
			--text-decoration-size: var(--border-thickness-2);
			content: '';
			position: absolute;
			inset-inline: auto var(--primary-nav-padding-inline);
			inset-block-end: calc(-1 / 2 * var(--text-decoration-size));

			inline-size: 0%;
			block-size: var(--text-decoration-size);

			background-color: transparent;
			transition:
				inset-inline var(--transition-base),
				inline-size var(--transition-base),
				background-color var(--transition-base);
		}

		&:hover:after {
			background-color: currentColor;
		}

		&:focus-visible {
			outline: none;
		}

		&:focus-visible:before {
			outline: var(--focus-ring);
			outline-color: var(--color-brand-inverted);
			outline-offset: var(--focus-ring-offset);
		}
	}
}

.site-nav ul a:hover:after,
.site-nav :is([aria-current='page'], [data-state='active']):after {
	inline-size: calc(100% - (2 * var(--primary-nav-padding-inline)));
	inset-inline: var(--primary-nav-padding-inline) auto;
}

.site-nav :is([aria-current='page'], [data-state='active']):after {
	background-color: var(--color-border-site-header);

	@media (--forcedColors) {
		background-color: canvasText;
	}
}

@media (--forcedColors) {
	.site-nav ul a:after,
	.site-nav ul a:hover:after {
		background-color: canvasText;
	}
}
