[aria-label='Breadcrumbs'] {
	position: sticky;
	inset-block-start: 0;
	display: flex;
	align-items: center;
	gap: 0;
	padding-inline-start: calc(
		var(--page-gutter) - var(--primary-nav-padding-inline)
	);
	border-block-end: var(--border-thickness-1) solid var(--color-border-1);
	background: var(--color-bg-1);
	z-index: 2;
	overflow: auto;

	> * {
		flex: 0 0 auto;
	}

	a {
		position: relative;
		padding: var(--primary-nav-padding-block) var(--primary-nav-padding-inline);

		&:before {
			content: '';
			position: absolute;
			inset: calc(0.75 * var(--primary-nav-padding-block))
				calc(0.5 * var(--primary-nav-padding-inline));
			border-radius: var(--border-radius-1);
			transition: outline-offset var(--transition-base);
		}

		&:focus-visible {
			outline: none;
		}

		&:focus-visible:before {
			outline: var(--focus-ring);
			outline-color: var(--color-brand);
			outline-offset: var(--focus-ring-offset);
		}
	}

	svg {
		inline-size: 0.8em;
		color: var(--color-underline);
	}
}

:where(.tag-page .list-header) h2:target {
	scroll-margin-block: calc(
		1ex + (2 * var(--primary-nav-padding-block)) + var(--space-xl)
	);
}
