/* 
  Global styles 

  Low-specificity, global styles that apply to the whole 
  project: https://cube.fyi/css.html
*/

@view-transition {
	navigation: auto;
}

:root {
	color-scheme: light dark;
}

body {
	display: flex;
	flex-direction: column;
	position: relative;

	background: var(--color-bg-1);
	color: var(--color-text-1);
	font-size: var(--size-step-0);
	font-weight: var(--font-regular);
	line-height: var(--leading-normal);
	font-feature-settings: var(--geist-tnum), var(--geist-ss05);
	-webkit-font-smoothing: auto;
	/* https://youtube.com/watch?v=uadAfE6cAoM&t=1338 */
	font-size-adjust: from-font;

	@media (--OSdark) {
		-webkit-font-smoothing: antialiased;
	}

	> * + *:not(.site-header, main) > * {
		border-block-start: var(--border-thickness-1) solid var(--color-border-1);
	}
}

main {
	flex-grow: 999;
}

main > *:not(.hero, [aria-label='Breadcrumbs']) + * {
	border-block-start: var(--border-thickness-1) solid var(--color-border-1);
}

:where(
		h1,
		.heading-1,
		h2,
		.heading-2,
		h3,
		.heading-3,
		h4,
		.heading-4,
		h5,
		.heading-5
	) {
	color: var(--color-text-2);
}

h2,
.heading-2,
h3,
.heading-3,
h4,
.heading-4,
h5,
.heading-5 {
	font-weight: var(--font-medium);
}

h2,
.heading-2,
h3,
.heading-3 {
	line-height: var(--leading-tight);
}

h4,
.heading-4,
h5,
.heading-5 {
	line-height: var(--leading-snug);
}

h1,
.heading-1 {
	font-size: var(--size-step-5);
	font-weight: var(--font-bold);
	line-height: var(--leading-flat);
	letter-spacing: -0.0125em;
	word-break: break-word;
}

h2,
.heading-2 {
	font-size: var(--size-step-3);
}

h3,
.heading-3 {
	font-size: var(--size-step-2);
}

h4,
.heading-4 {
	font-size: var(--size-step-1);
}

h5,
.heading-5 {
	font-size: var(--size-step-0);
}

p,
dd,
li {
	max-inline-size: var(--measure);
	text-wrap: pretty;
}

/* Sets the offset distance of an underline */
:where(a, u, ins, abbr) {
	text-decoration-thickness: max(0.05em, var(--border-thickness-1));
	text-underline-offset: var(--underline-offset);
}

a {
	color: inherit;
	text-decoration-color: var(--color-underline);
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
	transition:
		color var(--transition-base),
		text-decoration-color var(--transition-base),
		outline-offset var(--transition-base);

	&:hover {
		color: var(--color-brand);
	}
}

button {
	border-color: transparent;
}

/* Lists with default styling */
:where(ol, ul):not([role='list']) {
	padding-inline-start: var(--space-s);

	:where(li) {
		padding-inline-start: var(--space-4xs);
	}
}

blockquote {
	position: relative;
	display: grid;
	gap: 0 var(--space-xs);
	grid-template-columns: auto 1fr;

	> * {
		grid-column: 2/-1;
	}

	> * + * {
		margin-block-start: var(--flow-space, var(--space-xs));
	}

	&:before {
		content: '“';
		grid-row: 1/2;
		align-self: start;
		block-size: 1ex;

		background-color: var(--color-bg-1);
		color: currentColor;
		font-size: 3em;
		font-weight: var(--font-ultra-light);
		line-height: var(--leading-flat);
		translate: 0 -20%; /* magic number */
		max-block-size: 0.3lh; /* magic number */
	}

	&:after {
		--_width: var(--border-thickness-2);
		content: '';
		position: absolute;
		grid-column: 1/2;
		justify-self: center;
		inline-size: var(--_width);
		block-size: calc(100% - 1.25lh);
		align-self: end;
		inset-block-end: calc((var(--leading-normal) - 1) * 0.25lh);
		transform: translateY(calc(var(--_width) * -1 / 2));
		background-color: var(--color-blockquote);
		z-index: -1;
	}
}

cite {
	font-style: normal;
}

strong {
	color: var(--color-text-2);
	font-weight: var(--font-bold);
}

hr {
	block-size: 0;
	background-color: unset;
	border-block-end: var(--border-thickness-1) solid var(--color-border-1);
}

/* Set foucs visible style */
:where(:focus-visible) {
	text-decoration-line: none;
	outline: var(--focus-ring);
	outline-offset: var(--focus-ring-offset);
	border-radius: var(--border-radius-1);
}

[tabindex='-1']:focus {
	outline: none;
}

:target {
	scroll-margin-block: 0;
}

#main:target {
	scroll-margin-block: calc(
		-1 * (var(--border-thickness-2) + var(--primary-nav-height))
	);
}
