/* color variables */
:root {
	--color-brand: var(--indigo-7);
	--color-brand-inverted: var(--indigo-5);
	--color-bg-1: var(--stone-0);
	--color-bg-2: var(--stone-1);
	--color-bg-3: var(--stone-2);
	--color-bg-4: var(--stone-3);
	--color-bg-5: var(--stone-4);
	--color-bg-6: var(--stone-5);
	--color-bg-inverted-1: var(--stone-12);
	--color-bg-inverted-2: var(--stone-11);
	--color-bg-inverted-3: var(--stone-10);
	--color-bg-inverted-4: var(--stone-9);
	--color-text-1: var(--stone-11);
	--color-text-2: var(--stone-12);
	--color-text-3: var(--stone-9);
	--color-text-4: var(--stone-8);
	--color-text-inverted-1: var(--stone-4);
	--color-text-inverted-2: var(--stone-2);
	--color-text-inverted-3: var(--stone-5);
	--color-border-1: var(--stone-4);
	--color-border-2: hsl(var(--stone-5-hsl) / 25%);
	--color-border-3: hsl(var(--stone-5-hsl) / 12.5%);
	--color-underline: hsl(var(--stone-12-hsl) / 87.5%);
	--color-bg-site-header: hsl(var(--stone-0-hsl) / 75%);
	--color-border-hero: transparent;
	--color-counter: var(--color-text-2);
	--color-counter-connector: var(--color-border-1);
	--color-text-button: var(--color-text-2);
	--color-bg-button: var(--color-bg-4);
	--color-bg-button-hover: var(--color-bg-6);
	--color-bird-icon-path: var(--color-text-2);

	@media (--HDcolor) {
		--color-brand: oklch(46.76% 0.2845 262.81);
		--color-brand-inverted: oklch(66.47% 0.191 269.5);
	}

	@media (--OSdark) {
		-webkit-font-smoothing: antialiased;
		--color-brand: var(--color-brand-inverted);
		--color-bg-1: var(--color-bg-inverted-1);
		--color-bg-2: var(--color-bg-inverted-2);
		--color-bg-3: var(--color-bg-inverted-3);
		--color-bg-4: var(--color-bg-inverted-4);
		--color-text-1: var(--color-text-inverted-1);
		--color-text-2: var(--color-text-inverted-2);
		--color-text-3: var(--color-text-inverted-3);
		--color-text-inverted-2: var(--stone-4);
		--color-border-1: var(--stone-10);
		--color-underline: hsl(var(--stone-2-hsl) / 87.5%);
		--color-bg-site-header: hsl(var(--stone-12-hsl) / 75%);
		--color-border-hero: var(--color-border-1);
		--color-counter: var(--color-text-3);
		--color-counter-connector: var(--color-border-hero);
		--color-bg-button: var(--stone-11);
		--color-bg-button-hover: var(--stone-10);
		--color-bird-icon-path: var(--color-text-1);
	}

	@supports (background: color-mix(in srgb, red 50%, blue)) {
		--color-underline: color-mix(in srgb, currentColor, transparent 12.5%);
	}
}

:root {
	--measure: 53.4ch;
	--page-gutter: var(--space-s-l);

	--border-thickness-1: 1px;
	--border-thickness-2: 2px;
	--border-radius-1: var(--space-3xs);
	--border-radius-2: var(--space-s);
	--border-radius-round: 100vmin;

	--underline-offset: var(--space-4xs);
	--focus-ring-offset: var(--space-5xs);
	--counter-size: var(--space-s);
}

/* custom text sizes */
/* @link https://utopia.fyi/clamp/calculator?a=320,1280,31.1—48.83|37.32—61.04&p=size-step */

:root {
	--size-step-3-4: clamp(1.9438rem, 1.5744rem + 1.8469vi, 3.0519rem);
	--size-step-4-5: clamp(2.3325rem, 1.8383rem + 2.4708vi, 3.815rem);
}

/* transitions variables */
:root {
	--transition-base: 250ms ease;
	--transition-movement: 200ms linear;
	--transition-fade: 300ms ease;
	--transition-bounce: 500ms cubic-bezier(0.5, 0.05, 0.2, 1.5);
}

/* site header variables */
:root {
	--site-header-border-thickness: var(--border-thickness-1);
	--primary-nav-padding-block: 3ex;
	--primary-nav-padding-inline: var(--space-2xs);
	--primary-nav-font-size: var(--size-step-000);
	--primary-nav-leading: var(--leading-flat);
	--primary-nav-height: calc(
		(2 * var(--primary-nav-padding-block)) +
			(var(--primary-nav-leading) * var(--primary-nav-font-size))
	);
}

/* https://open-props.style/#media-queries */
/* Viewport Vars */
@custom-media --sm-n-above (min-width: 30em);
@custom-media --md-n-above (min-width: 48em);
@custom-media --lg-n-above (min-width: 80em);

@custom-media --sm-n-below (max-width: 29.9375em);
@custom-media --md-n-below (max-width: 47.9375em);
@custom-media --lg-n-below (max-width: 79.9375em);

/* Capability Vars */
@custom-media --mouse (hover) and (pointer: fine);
@custom-media --touch (hover: none) and (pointer: coarse);
@custom-media --HDcolor (dynamic-range: high) or (color-gamut: p3);

/* Preference Vars */
@custom-media --OSdark (prefers-color-scheme: dark);
@custom-media --OSlight (prefers-color-scheme: light);
@custom-media --motionOK (prefers-reduced-motion: no-preference);
@custom-media --motionNotOK (prefers-reduced-motion: reduce);
@custom-media --forcedColors (forced-colors: active);
