/* brand color variables */
:root {
	--color-brand: #1c22ff;
	--color-brand-inverted: #99adff;

	@media (--HDcolor) {
		--color-brand: oklch(47.35% 0.3177 266.4767422167044);
		--color-brand-inverted: oklch(76.53% 0.13 272.52);
	}

	@media (--OSdark) {
		--color-brand: var(--color-brand-inverted);
		--color-brand-inverted: gold;

		@media (--HDcolor) {
			--color-brand-inverted: oklch(89.11% 0.2105 95.33);
		}
	}
}

/* color variables */
:root {
	--color-bg-1: var(--gray-0);
	--color-bg-2: var(--gray-1);
	--color-bg-3: var(--gray-2);
	--color-bg-4: var(--gray-3);
	--color-bg-5: var(--gray-4);
	--color-bg-inverted-1: var(--gray-11);
	--color-bg-inverted-2: var(--gray-10);
	--color-bg-inverted-3: var(--gray-9);
	--color-bg-inverted-4: var(--gray-8);
	--color-text-1: var(--gray-8);
	--color-text-2: var(--gray-11);
	--color-text-3: var(--gray-7);
	--color-text-4: var(--gray-6);
	--color-text-inverted-1: var(--gray-4);
	--color-text-inverted-2: var(--gray-1);
	--color-text-inverted-3: var(--gray-5);
	--color-text-inverted-4: var(--gray-6);
	--color-border-1: var(--gray-3);
	--color-border-2: var(--gray-8);
	--color-underline: currentColor;
	--color-border-hero: var(--color-border-2);
	--color-border-code: transparent;
	--color-border-pre: transparent;
	--color-border-pre-separator: var(--gray-8);
	--color-blockquote: var(--gray-8);
	--color-counter-connector: var(--color-border-1);
	--color-text-button: var(--color-text-2);
	--color-bg-button: var(--color-bg-4);
	--color-bird-icon-path: var(--color-text-2);
	--color-bg-site-header: var(--color-bg-1);

	@media (--OSdark) {
		--color-bg-1: var(--color-bg-inverted-1);
		--color-bg-2: var(--color-bg-inverted-2);
		--color-bg-3: var(--color-bg-inverted-3);
		--color-bg-4: var(--color-bg-inverted-4);
		--color-text-1: var(--color-text-inverted-1);
		--color-text-2: var(--color-text-inverted-2);
		--color-text-3: var(--color-text-inverted-3);
		--color-text-4: var(--color-text-inverted-4);
		--color-border-1: var(--gray-8);
		--color-border-2: var(--gray-3);
		--color-border-hero: var(--color-border-1);
		--color-border-pre: var(--gray-8);
		--color-blockquote: var(--gray-5);
		--color-counter-connector: var(--color-border-hero);
		--color-bird-icon-path: var(--color-text-1);
	}

	@supports (background: color-mix(in srgb, red 50%, blue)) {
		--color-underline: color-mix(in srgb, currentColor, transparent 10%);
		--color-blockquote: color-mix(in srgb, currentColor, transparent 10%);
	}
}

:root {
	--measure: 55ch;

	--content-box-max-width: calc(
		var(--border-box-max-width, 80rem) - (2 * var(--page-gutter))
	);
	--page-gutter: var(--space-s-l);
	--dynamic-gutter: max(
		var(--page-gutter),
		calc((100% - var(--content-box-max-width)) / 2)
	);

	--border-thickness-1: 1px;
	--border-thickness-2: 2px;
	--border-thickness-3: 3px;
	--border-radius-1: var(--space-4xs);
	--border-radius-2: var(--space-3xs);
	--border-radius-conditional-1: clamp(
		0px,
		calc(100vw - 100%) * 1e5,
		var(--border-radius-1)
	);
	--border-radius-round: 100vmin;

	--underline-offset: var(--space-4xs);
	--counter-size: 3rem;
	--counter-gap: var(--space-xs);

	--button-padding-block: 0.5em;
	--button-padding-inline: 0.75em;
}

/* custom text sizes */
/* @link https://utopia.fyi/clamp/calculator?a=320,1280,31.1—48.83|37.32—61.04&p=size-step */

:root {
	--size-step-000-00: clamp(0.7813rem, 0.7083rem + 0.3646vw, 1rem);
	--size-step-00-0: clamp(0.9375rem, 0.8333rem + 0.5208vi, 1.25rem);
	--size-step-3-4: clamp(1.9438rem, 1.5744rem + 1.8469vi, 3.0519rem);
	--size-step-4-5: clamp(2.3325rem, 1.8383rem + 2.4708vi, 3.815rem);
}

/* transitions variables */
:root {
	--transition-base: 250ms ease;
	--transition-movement: 200ms linear;
	--transition-fade: 300ms ease;
	--transition-bounce: 500ms cubic-bezier(0.5, 0.05, 0.2, 1.5);
}

/* focus ring */
:root {
	--focus-ring-width: var(--border-thickness-2);
	--focus-ring: var(--focus-ring-width) solid var(--color-brand);
	--focus-ring-offset: var(--space-5xs);
}

/* site header variables */
:root {
	--site-header-border-thickness: var(--border-thickness-1);
	--primary-nav-padding-block: var(--space-s);
	--primary-nav-padding-inline: var(--space-2xs);
	--primary-nav-font-size: var(--size-step-00);
	--primary-nav-leading: var(--leading-flat);
	--primary-nav-height: calc(
		(2 * var(--primary-nav-padding-block)) +
			(var(--primary-nav-leading) * var(--primary-nav-font-size))
	);
}

/* OpenType feature variables */
:root {
	--geist-tnum: 'tnum' on;
	--geist-ss05: 'ss05' on;

	@supports (font-variant-numeric: tabular-nums) {
		--geist-tnum: '____';
		font-variant-numeric: tabular-nums;
	}
}

/* https://open-props.style/#media-queries */
/* Viewport Vars */
@custom-media --sm-n-above (min-width: 30em);
@custom-media --md-n-above (min-width: 48em);
@custom-media --lg-n-above (min-width: 64em);
@custom-media --xl-n-above (min-width: 80em);

@custom-media --sm-n-below (max-width: 29.9375em);
@custom-media --md-n-below (max-width: 47.9375em);
@custom-media --lg-n-below (max-width: 63.9375em);
@custom-media --xl-n-below (max-width: 79.9375em);

/* Capability Vars */
@custom-media --mouse (hover) and (pointer: fine);
@custom-media --touch (hover: none) and (pointer: coarse);
@custom-media --HDcolor (dynamic-range: high) or (color-gamut: p3);

/* Preference Vars */
@custom-media --OSdark (prefers-color-scheme: dark);
@custom-media --OSlight (prefers-color-scheme: light);
@custom-media --motionOK (prefers-reduced-motion: no-preference);
@custom-media --motionNotOK (prefers-reduced-motion: reduce);
@custom-media --forcedColors (forced-colors: active);
